{{ template "header" . }}
<div class="container">
    <h1>Tambah Pegawai</h1>
    <form action="/employees/create" method="POST">
        <div>
            <label for="name">Nama Pegawai</label>
            <input type="text" name="name" autocomplete="off" required>
        </div>
        <div>
            <label for="gender">Jenis Kelamin</label>
            <select name="gender" id="gender">
                <option value="male">Laki-Laki</option>
                <option value="female">Perempuan</option>
            </select>
        </div>
        <div class="submits">
            <a href="/employees" class="btn"><span class="fa fa-arrow-left"></span> Kembali</a>
            <button type="submit" class="btn btn-success"><span class="fa fa-add"></span>Tambah Pegawai</button>
        </div>
    </form>
</div>
{{ template "footer" . }}