{{ template "header" . }}
<div class="container">
    <h1>💼{{ .global.DocumentTitle }}</h1>
    <div class="">
        <a href="/tasks" class="btn"><span class="fa fa-briefcase"></span> Ke Daftar Tasks</a>
        <a href="/employees" class="btn"><span class="fa fa-person"></span> Ke Daftar Pegawai</a>
    </div>
</div>
{{ template "footer" .}}